<h1 mat-dialog-title translate>shortlinks.details.title</h1>
<div mat-dialog-content>
  <div *ngIf="shortLinkDetailsForm">
    <form [formGroup]="shortLinkDetailsForm" novalidate>
      <mat-form-field class="full-with">
        <mat-label translate>shortlinks.details.short-link</mat-label>
        <input matInput formControlName="shortLink" />
      </mat-form-field>
      <mat-form-field class="full-with">
        <mat-label translate>shortlinks.details.target-url</mat-label>
        <input matInput formControlName="targetUrl" readonly />
      </mat-form-field>
      <mat-form-field>
        <mat-label translate>shortlinks.details.expires-on</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="expiresOn" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
