.toolbar-spacer {
  flex: 1 1 auto;
}

.main-page {
  height: calc(100vh - 64px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .main-panel {
    width: 50%;
  }
}
mat-form-field {
  width: 100%;
}
