html,
body {
  height: 100%;
}
body {
  margin: 0;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background-color: #333;
    font-family: "Poppins";
  }
}
.page {
  padding: 1rem;
}

.full-width {
  width: 100%;
}
